In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kenai,US,2022-05-08 16:27:07,60.5544,-151.2583,45.09,71,0,12.66
1,1,Codrington,AU,2022-05-08 16:27:07,-38.2667,141.9667,46.15,86,23,5.19
2,2,Sao Joao Da Barra,BR,2022-05-08 16:27:08,-21.6403,-41.0511,80.69,65,36,11.63
3,3,Busselton,AU,2022-05-08 16:27:08,-33.6500,115.3333,58.60,84,3,4.63
4,4,Ganzhou,CN,2022-05-08 16:27:09,28.8184,115.4327,69.30,95,100,2.21

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Cloudmap of clouds
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Windmap of wind
# Get the latitude and longitude.
wind = city_data_df["Wind Speed"]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 78

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Ganzhou,CN,2022-05-08 16:27:09,28.8184,115.4327,69.30,95,100,2.21
7,7,Moron,AR,2022-05-08 16:20:39,-34.6534,-58.6198,73.94,55,8,8.12
8,8,Rikitea,PF,2022-05-08 16:27:11,-23.1203,-134.9692,76.51,80,42,21.25
14,14,Bambous Virieux,MU,2022-05-08 16:27:14,-20.3428,57.7575,75.45,83,40,5.75
17,17,Vaini,TO,2022-05-08 16:27:16,-21.2000,-175.2000,73.56,88,20,5.75
21,21,Great Bend,US,2022-05-08 16:26:35,38.3645,-98.7648,72.03,81,100,9.22
39,39,Ponta Do Sol,PT,2022-05-08 16:27:25,32.6667,-17.1000,74.71,69,8,4.14
42,42,Los Llanos De Aridane,ES,2022-05-08 16:27:27,28.6585,-17.9182,65.95,73,75,16.11
49,49,Souillac,MU,2022-05-08 16:28:29,-20.5167,57.5167,75.58,83,40,5.75
50,50,Xunchang,CN,2022-05-08 16:28:29,28.4543,104.7150,74.17,79,99,1.74

In [13]:
preferred_cities_df.count()

City_ID       157
City          157
Country       154
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
4                 Ganzhou      CN     69.30  28.8184  115.4327
7                   Moron      AR     73.94 -34.6534  -58.6198
8                 Rikitea      PF     76.51 -23.1203 -134.9692
14        Bambous Virieux      MU     75.45 -20.3428   57.7575
17                  Vaini      TO     73.56 -21.2000 -175.2000
21             Great Bend      US     72.03  38.3645  -98.7648
39           Ponta Do Sol      PT     74.71  32.6667  -17.1000
42  Los Llanos De Aridane      ES     65.95  28.6585  -17.9182
49               Souillac      MU     75.58 -20.5167   57.5167
50               Xunchang      CN     74.17  28.4543  104.7150

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Sao Joao Da Barra,BR,80.69,-21.6403,-41.0511,Pousada Porto De Canoas
8,Rikitea,PF,76.51,-23.1203,-134.9692,People ThankYou
11,Ambon,ID,78.94,-3.6954,128.1814,Swiss-Belhotel Ambon
14,Bambous Virieux,MU,75.45,-20.3428,57.7575,Casa Tia Villa
15,Lorengau,PG,83.37,-2.0226,147.2712,Lorengau Harbourside Hotel
31,Hilo,US,78.28,19.7297,-155.0900,Hilo Hawaiian Hotel
36,Cururupu,BR,78.21,-1.8283,-44.8683,POUSADA TRAVÉS'CIA
43,Kulhudhuffushi,MV,85.10,6.6221,73.0700,Haajy Guest House 1
49,Souillac,MU,75.58,-20.5167,57.5167,Shanti Maurice Resort & Spa
53,Mawlaik,MM,76.46,23.6333,94.4167,AKZ Guest House

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))